* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}
body{
    background-color: #0C1F43;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
    font-weight: bolder;
    font-size: 3.5rem;
    margin-bottom: 12px;
}
form{
    margin-top: 1.2em;
}
input[type=text]{
    color: white;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1.9rem;
    outline: none;   
    width: fit-content;   
    margin-top: 4vh;      
}
input[type=text]:focus{
    background-color: transparent;
    color: white;
    
}
input[type=text]::placeholder{
    color: white;
}
input[type=submit]{
    cursor: pointer;
    background-color: #E62E3C;
    color: white;
    font-weight: bold;
    outline: none;
    border: 2px solid #E62E3C;
    border-radius: 6px;
    padding: 12px;
}

.card{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: #fff;
    border-radius: 33px;
    padding: 60px;
    padding-top: 33px;
    font-size: 2.4rem;
    box-shadow: 0px 15px #53627C;
}
.city{
    margin: 17px;
    font-weight: 400;
    color: #f44336
}
.temp{
    margin: 17px;
    font-weight: 800;
    color: #2196f3;
}
.weather-text{
    margin: 17px;
    font-weight: 100;
    color: #9c27b0;
}